#%RAML 1.0
title: BountySports API Documentation
baseUri: https://bountysports.com/
version: 1.0

/users/update_user_refer_code:
  displayName: Update user refer code
  post:
    description: Update user refer code
    responses:
      200:
        body:
          application/json:

/users/get_refer_reward_money:
  displayName: Get refer reward money
  post:
    description: Get refer reward money
    responses:
      200:
        body:
          application/json:

/users/update_refer_reward_money:
  displayName: Update refer reward money
  post:
    description: Update refer reward money
    body:
      application/json:
        type: |
          {
            "type": "object",
            "properties": {
              "reward_money": {
                "type": "number",
                "required": true
              }
            }
          }
        example: |
          {
            "reward_money": 100
          }
    responses:
      200:
        body:
          application/json:

/users/send_otp:
  displayName: Update refer reward money
  post:
    description: Update refer reward money
    body:
      application/json:
        type: |
          {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "required": true
              },
              "otp": {
                "type": "number"
              }
            }
          }
        example: |
          {
            "email": "john.doe@email.com",
            "otp": 4587
          }
    responses:
      200:
        body:
          application/json:

